img.n4922-85 {
	background: url("gif-oe-n4922/n4922-r075-085.gif") no-repeat;
	width: 27px;
	height: 39px;
}
img.n4922-86 {
	background: url("gif-oe-n4922/n4922-r075-086.gif") no-repeat;
	width: 27px;
	height: 39px;
}
img.n4922-93 {
	background: url("gif-oe-n4922/n4922-r075-093.gif") no-repeat;
	width: 31px;
	height: 39px;
}
img.U-1B300 { background-position: -105px -98px; }
img.U-1B301 { background-position: -105px -139px; }
img.U-1B302 { background-position: -105px -180px; }
img.U-1B303 { background-position: -105px -222px; }
img.U-1B304 { background-position: -105px -263px; }
img.U-1B305 { background-position: -105px -304px; }
img.U-1B306 { background-position: -105px -345px; }
img.U-1B307 { background-position: -105px -387px; }
img.U-1B308 { background-position: -105px -428px; }
img.U-1B309 { background-position: -105px -469px; }
img.U-1B30A { background-position: -105px -510px; }
img.U-1B30B { background-position: -105px -552px; }
img.U-1B30C { background-position: -105px -593px; }
img.U-1B30D { background-position: -105px -634px; }
img.U-1B30E { background-position: -105px -675px; }
img.U-1B30F { background-position: -105px -717px; }
img.U-1B310 { background-position: -134px -98px; }
img.U-1B311 { background-position: -134px -139px; }
img.U-1B312 { background-position: -134px -180px; }
img.U-1B313 { background-position: -134px -222px; }
img.U-1B314 { background-position: -134px -263px; }
img.U-1B315 { background-position: -134px -304px; }
img.U-1B316 { background-position: -134px -345px; }
img.U-1B317 { background-position: -134px -387px; }
img.U-1B318 { background-position: -134px -428px; }
img.U-1B319 { background-position: -134px -469px; }
img.U-1B31A { background-position: -134px -510px; }
img.U-1B31B { background-position: -134px -552px; }
img.U-1B31C { background-position: -134px -593px; }
img.U-1B31D { background-position: -134px -634px; }
img.U-1B31E { background-position: -134px -675px; }
img.U-1B31F { background-position: -134px -717px; }
img.U-1B320 { background-position: -163px -98px; }
img.U-1B321 { background-position: -163px -139px; }
img.U-1B322 { background-position: -163px -180px; }
img.U-1B323 { background-position: -163px -222px; }
img.U-1B324 { background-position: -163px -263px; }
img.U-1B325 { background-position: -163px -304px; }
img.U-1B326 { background-position: -163px -345px; }
img.U-1B327 { background-position: -163px -387px; }
img.U-1B328 { background-position: -163px -428px; }
img.U-1B329 { background-position: -163px -469px; }
img.U-1B32A { background-position: -163px -510px; }
img.U-1B32B { background-position: -163px -552px; }
img.U-1B32C { background-position: -163px -593px; }
img.U-1B32D { background-position: -163px -634px; }
img.U-1B32E { background-position: -163px -675px; }
img.U-1B32F { background-position: -163px -717px; }
img.U-1B330 { background-position: -192px -98px; }
img.U-1B331 { background-position: -192px -139px; }
img.U-1B332 { background-position: -192px -180px; }
img.U-1B333 { background-position: -192px -222px; }
img.U-1B334 { background-position: -192px -263px; }
img.U-1B335 { background-position: -192px -304px; }
img.U-1B336 { background-position: -192px -345px; }
img.U-1B337 { background-position: -192px -387px; }
img.U-1B338 { background-position: -192px -428px; }
img.U-1B339 { background-position: -192px -469px; }
img.U-1B33A { background-position: -192px -510px; }
img.U-1B33B { background-position: -192px -552px; }
img.U-1B33C { background-position: -192px -593px; }
img.U-1B33D { background-position: -192px -634px; }
img.U-1B33E { background-position: -192px -675px; }
img.U-1B33F { background-position: -192px -717px; }
img.U-1B340 { background-position: -221px -98px; }
img.U-1B341 { background-position: -221px -139px; }
img.U-1B342 { background-position: -221px -180px; }
img.U-1B343 { background-position: -221px -222px; }
img.U-1B344 { background-position: -221px -263px; }
img.U-1B345 { background-position: -221px -304px; }
img.U-1B346 { background-position: -221px -345px; }
img.U-1B347 { background-position: -221px -387px; }
img.U-1B348 { background-position: -221px -428px; }
img.U-1B349 { background-position: -221px -469px; }
img.U-1B34A { background-position: -221px -510px; }
img.U-1B34B { background-position: -221px -552px; }
img.U-1B34C { background-position: -221px -593px; }
img.U-1B34D { background-position: -221px -634px; }
img.U-1B34E { background-position: -221px -675px; }
img.U-1B34F { background-position: -221px -717px; }
img.U-1B350 { background-position: -250px -98px; }
img.U-1B351 { background-position: -250px -139px; }
img.U-1B352 { background-position: -250px -180px; }
img.U-1B353 { background-position: -250px -222px; }
img.U-1B354 { background-position: -250px -263px; }
img.U-1B355 { background-position: -250px -304px; }
img.U-1B356 { background-position: -250px -345px; }
img.U-1B357 { background-position: -250px -387px; }
img.U-1B358 { background-position: -250px -428px; }
img.U-1B359 { background-position: -250px -469px; }
img.U-1B35A { background-position: -250px -510px; }
img.U-1B35B { background-position: -250px -552px; }
img.U-1B35C { background-position: -250px -593px; }
img.U-1B35D { background-position: -250px -634px; }
img.U-1B35E { background-position: -250px -675px; }
img.U-1B35F { background-position: -250px -717px; }
img.U-1B360 { background-position: -278px -98px; }
img.U-1B361 { background-position: -278px -139px; }
img.U-1B362 { background-position: -278px -180px; }
img.U-1B363 { background-position: -278px -222px; }
img.U-1B364 { background-position: -278px -263px; }
img.U-1B365 { background-position: -278px -304px; }
img.U-1B366 { background-position: -278px -345px; }
img.U-1B367 { background-position: -278px -387px; }
img.U-1B368 { background-position: -278px -428px; }
img.U-1B369 { background-position: -278px -469px; }
img.U-1B36A { background-position: -278px -510px; }
img.U-1B36B { background-position: -278px -552px; }
img.U-1B36C { background-position: -278px -593px; }
img.U-1B36D { background-position: -278px -634px; }
img.U-1B36E { background-position: -278px -675px; }
img.U-1B36F { background-position: -278px -717px; }
img.U-1B370 { background-position: -307px -98px; }
img.U-1B371 { background-position: -307px -139px; }
img.U-1B372 { background-position: -307px -180px; }
img.U-1B373 { background-position: -307px -222px; }
img.U-1B374 { background-position: -307px -263px; }
img.U-1B375 { background-position: -307px -304px; }
img.U-1B376 { background-position: -307px -345px; }
img.U-1B377 { background-position: -307px -387px; }
img.U-1B378 { background-position: -307px -428px; }
img.U-1B379 { background-position: -307px -469px; }
img.U-1B37A { background-position: -307px -510px; }
img.U-1B37B { background-position: -307px -552px; }
img.U-1B37C { background-position: -307px -593px; }
img.U-1B37D { background-position: -307px -634px; }
img.U-1B37E { background-position: -307px -675px; }
img.U-1B37F { background-position: -307px -717px; }
img.U-1B380 { background-position: -336px -98px; }
img.U-1B381 { background-position: -336px -139px; }
img.U-1B382 { background-position: -336px -180px; }
img.U-1B383 { background-position: -336px -222px; }
img.U-1B384 { background-position: -336px -263px; }
img.U-1B385 { background-position: -336px -304px; }
img.U-1B386 { background-position: -336px -345px; }
img.U-1B387 { background-position: -336px -387px; }
img.U-1B388 { background-position: -336px -428px; }
img.U-1B389 { background-position: -336px -469px; }
img.U-1B38A { background-position: -336px -510px; }
img.U-1B38B { background-position: -336px -552px; }
img.U-1B38C { background-position: -336px -593px; }
img.U-1B38D { background-position: -336px -634px; }
img.U-1B38E { background-position: -336px -675px; }
img.U-1B38F { background-position: -336px -717px; }
img.U-1B390 { background-position: -365px -98px; }
img.U-1B391 { background-position: -365px -139px; }
img.U-1B392 { background-position: -365px -180px; }
img.U-1B393 { background-position: -365px -222px; }
img.U-1B394 { background-position: -365px -263px; }
img.U-1B395 { background-position: -365px -304px; }
img.U-1B396 { background-position: -365px -345px; }
img.U-1B397 { background-position: -365px -387px; }
img.U-1B398 { background-position: -365px -428px; }
img.U-1B399 { background-position: -365px -469px; }
img.U-1B39A { background-position: -365px -510px; }
img.U-1B39B { background-position: -365px -552px; }
img.U-1B39C { background-position: -365px -593px; }
img.U-1B39D { background-position: -365px -634px; }
img.U-1B39E { background-position: -365px -675px; }
img.U-1B39F { background-position: -365px -717px; }
img.U-1B3A0 { background-position: -394px -98px; }
img.U-1B3A1 { background-position: -394px -139px; }
img.U-1B3A2 { background-position: -394px -180px; }
img.U-1B3A3 { background-position: -394px -222px; }
img.U-1B3A4 { background-position: -394px -263px; }
img.U-1B3A5 { background-position: -394px -304px; }
img.U-1B3A6 { background-position: -394px -345px; }
img.U-1B3A7 { background-position: -394px -387px; }
img.U-1B3A8 { background-position: -394px -428px; }
img.U-1B3A9 { background-position: -394px -469px; }
img.U-1B3AA { background-position: -394px -510px; }
img.U-1B3AB { background-position: -394px -552px; }
img.U-1B3AC { background-position: -394px -593px; }
img.U-1B3AD { background-position: -394px -634px; }
img.U-1B3AE { background-position: -394px -675px; }
img.U-1B3AF { background-position: -394px -717px; }
img.U-1B3B0 { background-position: -423px -98px; }
img.U-1B3B1 { background-position: -423px -139px; }
img.U-1B3B2 { background-position: -423px -180px; }
img.U-1B3B3 { background-position: -423px -222px; }
img.U-1B3B4 { background-position: -423px -263px; }
img.U-1B3B5 { background-position: -423px -304px; }
img.U-1B3B6 { background-position: -423px -345px; }
img.U-1B3B7 { background-position: -423px -387px; }
img.U-1B3B8 { background-position: -423px -428px; }
img.U-1B3B9 { background-position: -423px -469px; }
img.U-1B3BA { background-position: -423px -510px; }
img.U-1B3BB { background-position: -423px -552px; }
img.U-1B3BC { background-position: -423px -593px; }
img.U-1B3BD { background-position: -423px -634px; }
img.U-1B3BE { background-position: -423px -675px; }
img.U-1B3BF { background-position: -423px -717px; }
img.U-1B3C0 { background-position: -452px -98px; }
img.U-1B3C1 { background-position: -452px -139px; }
img.U-1B3C2 { background-position: -452px -180px; }
img.U-1B3C3 { background-position: -452px -222px; }
img.U-1B3C4 { background-position: -452px -263px; }
img.U-1B3C5 { background-position: -452px -304px; }
img.U-1B3C6 { background-position: -452px -345px; }
img.U-1B3C7 { background-position: -452px -387px; }
img.U-1B3C8 { background-position: -452px -428px; }
img.U-1B3C9 { background-position: -452px -469px; }
img.U-1B3CA { background-position: -451px -510px; }
img.U-1B3CB { background-position: -451px -552px; }
img.U-1B3CC { background-position: -451px -593px; }
img.U-1B3CD { background-position: -451px -634px; }
img.U-1B3CE { background-position: -451px -675px; }
img.U-1B3CF { background-position: -452px -717px; }
img.U-1B3D0 { background-position: -480px -98px; }
img.U-1B3D1 { background-position: -480px -139px; }
img.U-1B3D2 { background-position: -480px -180px; }
img.U-1B3D3 { background-position: -480px -222px; }
img.U-1B3D4 { background-position: -480px -263px; }
img.U-1B3D5 { background-position: -480px -304px; }
img.U-1B3D6 { background-position: -480px -345px; }
img.U-1B3D7 { background-position: -480px -387px; }
img.U-1B3D8 { background-position: -480px -428px; }
img.U-1B3D9 { background-position: -480px -469px; }
img.U-1B3DA { background-position: -480px -510px; }
img.U-1B3DB { background-position: -480px -552px; }
img.U-1B3DC { background-position: -480px -593px; }
img.U-1B3DD { background-position: -480px -634px; }
img.U-1B3DE { background-position: -480px -675px; }
img.U-1B3DF { background-position: -480px -717px; }
img.U-1B3E0 { background-position: -509px -98px; }
img.U-1B3E1 { background-position: -509px -139px; }
img.U-1B3E2 { background-position: -509px -180px; }
img.U-1B3E3 { background-position: -509px -222px; }
img.U-1B3E4 { background-position: -509px -263px; }
img.U-1B3E5 { background-position: -509px -304px; }
img.U-1B3E6 { background-position: -509px -345px; }
img.U-1B3E7 { background-position: -509px -387px; }
img.U-1B3E8 { background-position: -509px -428px; }
img.U-1B3E9 { background-position: -509px -469px; }
img.U-1B3EA { background-position: -509px -510px; }
img.U-1B3EB { background-position: -509px -552px; }
img.U-1B3EC { background-position: -509px -593px; }
img.U-1B3ED { background-position: -509px -634px; }
img.U-1B3EE { background-position: -509px -675px; }
img.U-1B3EF { background-position: -509px -717px; }
img.U-1B3F0 { background-position: -538px -98px; }
img.U-1B3F1 { background-position: -538px -139px; }
img.U-1B3F2 { background-position: -538px -180px; }
img.U-1B3F3 { background-position: -538px -222px; }
img.U-1B3F4 { background-position: -538px -263px; }
img.U-1B3F5 { background-position: -538px -304px; }
img.U-1B3F6 { background-position: -538px -345px; }
img.U-1B3F7 { background-position: -538px -387px; }
img.U-1B3F8 { background-position: -538px -428px; }
img.U-1B3F9 { background-position: -538px -469px; }
img.U-1B3FA { background-position: -538px -510px; }
img.U-1B3FB { background-position: -538px -552px; }
img.U-1B3FC { background-position: -538px -593px; }
img.U-1B3FD { background-position: -538px -634px; }
img.U-1B3FE { background-position: -538px -675px; }
img.U-1B3FF { background-position: -538px -717px; }
img.U-1B400 { background-position: -72px -98px; }
img.U-1B401 { background-position: -72px -139px; }
img.U-1B402 { background-position: -72px -180px; }
img.U-1B403 { background-position: -72px -222px; }
img.U-1B404 { background-position: -72px -263px; }
img.U-1B405 { background-position: -72px -304px; }
img.U-1B406 { background-position: -72px -345px; }
img.U-1B407 { background-position: -72px -387px; }
img.U-1B408 { background-position: -72px -428px; }
img.U-1B409 { background-position: -72px -469px; }
img.U-1B40A { background-position: -72px -510px; }
img.U-1B40B { background-position: -72px -552px; }
img.U-1B40C { background-position: -72px -593px; }
img.U-1B40D { background-position: -72px -634px; }
img.U-1B40E { background-position: -72px -675px; }
img.U-1B40F { background-position: -72px -717px; }
img.U-1B410 { background-position: -101px -98px; }
img.U-1B411 { background-position: -101px -139px; }
img.U-1B412 { background-position: -101px -180px; }
img.U-1B413 { background-position: -101px -222px; }
img.U-1B414 { background-position: -101px -263px; }
img.U-1B415 { background-position: -101px -304px; }
img.U-1B416 { background-position: -101px -345px; }
img.U-1B417 { background-position: -101px -387px; }
img.U-1B418 { background-position: -101px -428px; }
img.U-1B419 { background-position: -101px -469px; }
img.U-1B41A { background-position: -101px -510px; }
img.U-1B41B { background-position: -101px -552px; }
img.U-1B41C { background-position: -101px -593px; }
img.U-1B41D { background-position: -101px -634px; }
img.U-1B41E { background-position: -101px -675px; }
img.U-1B41F { background-position: -101px -717px; }
img.U-1B420 { background-position: -130px -98px; }
img.U-1B421 { background-position: -130px -139px; }
img.U-1B422 { background-position: -130px -180px; }
img.U-1B423 { background-position: -130px -222px; }
img.U-1B424 { background-position: -130px -263px; }
img.U-1B425 { background-position: -130px -304px; }
img.U-1B426 { background-position: -130px -345px; }
img.U-1B427 { background-position: -130px -387px; }
img.U-1B428 { background-position: -130px -428px; }
img.U-1B429 { background-position: -130px -469px; }
img.U-1B42A { background-position: -130px -510px; }
img.U-1B42B { background-position: -130px -552px; }
img.U-1B42C { background-position: -130px -593px; }
img.U-1B42D { background-position: -130px -634px; }
img.U-1B42E { background-position: -130px -675px; }
img.U-1B42F { background-position: -130px -717px; }
img.U-1B430 { background-position: -159px -98px; }
img.U-1B431 { background-position: -159px -139px; }
img.U-1B432 { background-position: -159px -180px; }
img.U-1B433 { background-position: -159px -222px; }
img.U-1B434 { background-position: -159px -263px; }
img.U-1B435 { background-position: -159px -304px; }
img.U-1B436 { background-position: -159px -345px; }
img.U-1B437 { background-position: -159px -387px; }
img.U-1B438 { background-position: -159px -428px; }
img.U-1B439 { background-position: -159px -469px; }
img.U-1B43A { background-position: -159px -510px; }
img.U-1B43B { background-position: -159px -552px; }
img.U-1B43C { background-position: -159px -593px; }
img.U-1B43D { background-position: -159px -634px; }
img.U-1B43E { background-position: -159px -675px; }
img.U-1B43F { background-position: -159px -717px; }
img.U-1B440 { background-position: -187px -98px; }
img.U-1B441 { background-position: -187px -139px; }
img.U-1B442 { background-position: -187px -180px; }
img.U-1B443 { background-position: -187px -222px; }
img.U-1B444 { background-position: -187px -263px; }
img.U-1B445 { background-position: -187px -304px; }
img.U-1B446 { background-position: -187px -345px; }
img.U-1B447 { background-position: -187px -387px; }
img.U-1B448 { background-position: -187px -428px; }
img.U-1B449 { background-position: -187px -469px; }
img.U-1B44A { background-position: -187px -510px; }
img.U-1B44B { background-position: -187px -552px; }
img.U-1B44C { background-position: -187px -593px; }
img.U-1B44D { background-position: -187px -634px; }
img.U-1B44E { background-position: -187px -675px; }
img.U-1B44F { background-position: -187px -717px; }
img.U-1B450 { background-position: -216px -98px; }
img.U-1B451 { background-position: -216px -139px; }
img.U-1B452 { background-position: -216px -180px; }
img.U-1B453 { background-position: -216px -222px; }
img.U-1B454 { background-position: -216px -263px; }
img.U-1B455 { background-position: -216px -304px; }
img.U-1B456 { background-position: -216px -345px; }
img.U-1B457 { background-position: -216px -387px; }
img.U-1B458 { background-position: -216px -428px; }
img.U-1B459 { background-position: -216px -469px; }
img.U-1B45A { background-position: -216px -510px; }
img.U-1B45B { background-position: -216px -552px; }
img.U-1B45C { background-position: -216px -593px; }
img.U-1B45D { background-position: -216px -634px; }
img.U-1B45E { background-position: -216px -675px; }
img.U-1B45F { background-position: -216px -717px; }
img.U-1B460 { background-position: -245px -98px; }
img.U-1B461 { background-position: -245px -139px; }
img.U-1B462 { background-position: -245px -180px; }
img.U-1B463 { background-position: -245px -222px; }
img.U-1B464 { background-position: -245px -263px; }
img.U-1B465 { background-position: -245px -304px; }
img.U-1B466 { background-position: -245px -345px; }
img.U-1B467 { background-position: -245px -387px; }
img.U-1B468 { background-position: -245px -428px; }
img.U-1B469 { background-position: -245px -469px; }
img.U-1B46A { background-position: -245px -510px; }
img.U-1B46B { background-position: -245px -552px; }
img.U-1B46C { background-position: -245px -593px; }
img.U-1B46D { background-position: -245px -634px; }
img.U-1B46E { background-position: -245px -675px; }
img.U-1B46F { background-position: -245px -717px; }
img.U-1B470 { background-position: -274px -98px; }
img.U-1B471 { background-position: -274px -139px; }
img.U-1B472 { background-position: -274px -180px; }
img.U-1B473 { background-position: -274px -222px; }
img.U-1B474 { background-position: -274px -263px; }
img.U-1B475 { background-position: -274px -304px; }
img.U-1B476 { background-position: -274px -345px; }
img.U-1B477 { background-position: -274px -387px; }
img.U-1B478 { background-position: -274px -428px; }
img.U-1B479 { background-position: -274px -469px; }
img.U-1B47A { background-position: -274px -510px; }
img.U-1B47B { background-position: -274px -552px; }
img.U-1B47C { background-position: -274px -593px; }
img.U-1B47D { background-position: -274px -634px; }
img.U-1B47E { background-position: -274px -675px; }
img.U-1B47F { background-position: -274px -717px; }
img.U-1B480 { background-position: -303px -98px; }
img.U-1B481 { background-position: -303px -139px; }
img.U-1B482 { background-position: -303px -180px; }
img.U-1B483 { background-position: -303px -222px; }
img.U-1B484 { background-position: -303px -263px; }
img.U-1B485 { background-position: -303px -304px; }
img.U-1B486 { background-position: -303px -345px; }
img.U-1B487 { background-position: -303px -387px; }
img.U-1B488 { background-position: -303px -428px; }
img.U-1B489 { background-position: -303px -469px; }
img.U-1B48A { background-position: -303px -510px; }
img.U-1B48B { background-position: -303px -552px; }
img.U-1B48C { background-position: -303px -593px; }
img.U-1B48D { background-position: -303px -634px; }
img.U-1B48E { background-position: -303px -675px; }
img.U-1B48F { background-position: -303px -717px; }
img.U-1B490 { background-position: -332px -98px; }
img.U-1B491 { background-position: -332px -139px; }
img.U-1B492 { background-position: -332px -180px; }
img.U-1B493 { background-position: -332px -222px; }
img.U-1B494 { background-position: -332px -263px; }
img.U-1B495 { background-position: -332px -304px; }
img.U-1B496 { background-position: -332px -345px; }
img.U-1B497 { background-position: -332px -387px; }
img.U-1B498 { background-position: -332px -428px; }
img.U-1B499 { background-position: -332px -469px; }
img.U-1B49A { background-position: -332px -510px; }
img.U-1B49B { background-position: -332px -552px; }
img.U-1B49C { background-position: -332px -593px; }
img.U-1B49D { background-position: -332px -634px; }
img.U-1B49E { background-position: -332px -675px; }
img.U-1B49F { background-position: -332px -717px; }
img.U-1B4A0 { background-position: -361px -98px; }
img.U-1B4A1 { background-position: -361px -139px; }
img.U-1B4A2 { background-position: -361px -180px; }
img.U-1B4A3 { background-position: -361px -222px; }
img.U-1B4A4 { background-position: -361px -263px; }
img.U-1B4A5 { background-position: -361px -304px; }
img.U-1B4A6 { background-position: -361px -345px; }
img.U-1B4A7 { background-position: -361px -387px; }
img.U-1B4A8 { background-position: -361px -428px; }
img.U-1B4A9 { background-position: -361px -469px; }
img.U-1B4AA { background-position: -360px -510px; }
img.U-1B4AB { background-position: -360px -552px; }
img.U-1B4AC { background-position: -361px -593px; }
img.U-1B4AD { background-position: -361px -634px; }
img.U-1B4AE { background-position: -360px -675px; }
img.U-1B4AF { background-position: -361px -717px; }
img.U-1B4B0 { background-position: -389px -98px; }
img.U-1B4B1 { background-position: -389px -139px; }
img.U-1B4B2 { background-position: -389px -180px; }
img.U-1B4B3 { background-position: -389px -222px; }
img.U-1B4B4 { background-position: -389px -263px; }
img.U-1B4B5 { background-position: -389px -304px; }
img.U-1B4B6 { background-position: -389px -345px; }
img.U-1B4B7 { background-position: -389px -387px; }
img.U-1B4B8 { background-position: -389px -428px; }
img.U-1B4B9 { background-position: -389px -469px; }
img.U-1B4BA { background-position: -389px -510px; }
img.U-1B4BB { background-position: -389px -552px; }
img.U-1B4BC { background-position: -389px -593px; }
img.U-1B4BD { background-position: -389px -634px; }
img.U-1B4BE { background-position: -389px -675px; }
img.U-1B4BF { background-position: -389px -717px; }
img.U-1B4C0 { background-position: -418px -98px; }
img.U-1B4C1 { background-position: -418px -139px; }
img.U-1B4C2 { background-position: -418px -180px; }
img.U-1B4C3 { background-position: -418px -222px; }
img.U-1B4C4 { background-position: -418px -263px; }
img.U-1B4C5 { background-position: -418px -304px; }
img.U-1B4C6 { background-position: -418px -345px; }
img.U-1B4C7 { background-position: -418px -387px; }
img.U-1B4C8 { background-position: -418px -428px; }
img.U-1B4C9 { background-position: -418px -469px; }
img.U-1B4CA { background-position: -418px -510px; }
img.U-1B4CB { background-position: -418px -552px; }
img.U-1B4CC { background-position: -418px -593px; }
img.U-1B4CD { background-position: -418px -634px; }
img.U-1B4CE { background-position: -418px -675px; }
img.U-1B4CF { background-position: -418px -717px; }
img.U-1B4D0 { background-position: -447px -98px; }
img.U-1B4D1 { background-position: -447px -139px; }
img.U-1B4D2 { background-position: -447px -180px; }
img.U-1B4D3 { background-position: -447px -222px; }
img.U-1B4D4 { background-position: -447px -263px; }
img.U-1B4D5 { background-position: -447px -304px; }
img.U-1B4D6 { background-position: -447px -345px; }
img.U-1B4D7 { background-position: -447px -387px; }
img.U-1B4D8 { background-position: -447px -428px; }
img.U-1B4D9 { background-position: -447px -469px; }
img.U-1B4DA { background-position: -447px -510px; }
img.U-1B4DB { background-position: -447px -552px; }
img.U-1B4DC { background-position: -447px -593px; }
img.U-1B4DD { background-position: -447px -634px; }
img.U-1B4DE { background-position: -447px -675px; }
img.U-1B4DF { background-position: -447px -717px; }
img.U-1B4E0 { background-position: -476px -98px; }
img.U-1B4E1 { background-position: -476px -139px; }
img.U-1B4E2 { background-position: -476px -180px; }
img.U-1B4E3 { background-position: -476px -222px; }
img.U-1B4E4 { background-position: -476px -263px; }
img.U-1B4E5 { background-position: -476px -304px; }
img.U-1B500 { background-position: -170px -98px; }
img.U-1B501 { background-position: -170px -139px; }
img.U-1B502 { background-position: -170px -180px; }
img.U-1B503 { background-position: -170px -222px; }
img.U-1B504 { background-position: -170px -263px; }
img.U-1B505 { background-position: -170px -304px; }
img.U-1B506 { background-position: -170px -345px; }
img.U-1B507 { background-position: -170px -387px; }
img.U-1B508 { background-position: -170px -428px; }
img.U-1B509 { background-position: -170px -469px; }
img.U-1B50A { background-position: -170px -510px; }
img.U-1B50B { background-position: -170px -552px; }
img.U-1B50C { background-position: -170px -593px; }
img.U-1B50D { background-position: -170px -634px; }
img.U-1B50E { background-position: -170px -675px; }
img.U-1B50F { background-position: -170px -717px; }
img.U-1B510 { background-position: -203px -98px; }
img.U-1B511 { background-position: -203px -139px; }
img.U-1B512 { background-position: -203px -180px; }
img.U-1B513 { background-position: -203px -222px; }
img.U-1B514 { background-position: -203px -263px; }
img.U-1B515 { background-position: -203px -304px; }
img.U-1B516 { background-position: -203px -345px; }
img.U-1B517 { background-position: -203px -387px; }
img.U-1B518 { background-position: -203px -428px; }
img.U-1B519 { background-position: -203px -469px; }
img.U-1B51A { background-position: -203px -510px; }
img.U-1B51B { background-position: -203px -552px; }
img.U-1B51C { background-position: -203px -593px; }
img.U-1B51D { background-position: -203px -634px; }
img.U-1B51E { background-position: -203px -675px; }
img.U-1B51F { background-position: -203px -717px; }
img.U-1B520 { background-position: -236px -98px; }
img.U-1B521 { background-position: -236px -139px; }
img.U-1B522 { background-position: -236px -180px; }
img.U-1B523 { background-position: -236px -222px; }
img.U-1B524 { background-position: -236px -263px; }
img.U-1B525 { background-position: -236px -304px; }
img.U-1B526 { background-position: -236px -345px; }
img.U-1B527 { background-position: -236px -387px; }
img.U-1B528 { background-position: -236px -428px; }
img.U-1B529 { background-position: -236px -469px; }
img.U-1B52A { background-position: -236px -510px; }
img.U-1B52B { background-position: -236px -552px; }
img.U-1B52C { background-position: -236px -593px; }
img.U-1B52D { background-position: -236px -634px; }
img.U-1B52E { background-position: -236px -675px; }
